@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria: #1E1E20;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #47C8FF;
    --cor-hover:#252529;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: VAR(--cor-primaria);
    color: VAR(--cor-secundaria);
}

.titulo-destaque{
    background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho {
    padding: 2% 0% 2% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: VAR(--cor-secundaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__imagem{
    width: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border-radius: 14px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__links__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    padding: 21.5px 0;
    border: 2px solid VAR(--cor-terciaria);
    border-radius: 8px;

    text-align: center;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-secundaria);

    color: VAR(--cor-secundaria);
}

.apresentacao__links__botoes:hover {
    background-color: VAR(--cor-hover-gradient);
}

.rodape {
    padding: 24px;
    text-align: center;
    background-color: VAR(--cor-terciaria);

    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}

